* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding-top: 20px;
    width: 1280px;
    margin: 0 auto;
    display: flex;
    height: 200px;
    justify-content: space-between;
    font-weight: 600;
}

.logo h1 {
    width: 50%;
}

.nav-menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.nav-menu ul li {
    display: inline;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    transition: all 0.2s ease;
}

.nav-menu a:hover {
    box-shadow: 0 3px 3px -2px #017143;
}

main {
    overflow-x: hidden;
    overflow-y: hidden;
}

.page-container {
    width: 1280px;
    height: calc(100% - 200px);
    position: relative;
    margin: 0 auto;

}

.product-background {
    width: 1150px;
    height: 1150px;
    position: absolute;
    right: -850px;
    bottom: -500px;
    border-radius: 50%;
    background-color: #017143;
}

.about h2 {
    font-size: 50px;
    padding-top: 150px;
    font-weight: 500;
}

.about p {
    max-width: 900px;
    padding-top: 20px;
}

.btn-learn {
    width: 110px;
    margin-top: 20px;
    padding: 10px;
    background-color: #017143;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-learn:hover {
    background-color: #04bb6f;
}

footer {
    position: relative;
}

.nav-social-media ul {
    position: absolute;
    bottom: 200px;
    right: 20px;
}

.nav-social-media li {
    list-style: none;
}

.nav-social-media img {
    display: block;
    padding-bottom: 30px;
    width: 25px;
}

.more-products {
    position: absolute;
    bottom: 0;
    left: 45%;
    padding-bottom: 40px;
}

.more-products ul li {
    list-style: none;
    display: inline;
    padding-right: 40px;
}

.more-products img {
    width: 50px;
    transition: width 0.3s ease;
}

.more-products img:hover {
    width: 55px;
}